.role-list-div {
    font-size: 20px;
    padding: 36px 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-top: 2px solid #31B9E4;

    .role-card {
        min-height: 244px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 3px;
        background-color: white;
        box-shadow: 0px 4px 6px #0000003D;

        .role-card-data {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .pipe {
                font-size: 12px;
                margin-right: 8px;
                border: 1px solid #0000001F;
            }

            .header-div {
                .expiry-div {
                    width: 100%;
                    height: 0;
                    text-align: right;

                    .text {
                        font-size: 12px;
                        padding: 2px 8px;
                        color: #D10107;
                        position: relative;
                        top: -30px;
                        display: inline;
                        background-color: #FFE4E6;
                    }
                }

                .title {
                    margin: 0;
                    padding: 0;
                    color: #1F7A54;
                    font-size: 18px;
                }
            }

            .date-place-div {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .duration-title {
                    font-size: 12px;
                    color: #666666;
                }

                .duration-place-data {
                    display: flex;
                    gap: 16px;

                    .duration-dates {
                        font-size: 14px;
                    }

                    .location {
                        font-size: 12px;
                        color: #666666;

                        .location-logo {
                            height: 14px;
                            vertical-align: middle;
                            margin-right: 4px;
                        }
                    }
                }
            }

            .separator {
                border-top: 1px solid #0000001F;
            }

            .job-roles-div {
                .job-roles-title {
                    font-size: 12px;
                    color: #666666;
                }

                .roles-data-grid {
                    width: 100%;
                    display: flex;

                    .role-data {
                        display: flex;
                        gap: 8px;
                        font-size: 14px;

                        .pipe {
                            margin-right: 8px;
                        }
                    }
                }
            }

            .tags-div {

                .tags-data-grid {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 16px;

                    .role-title {
                        height: 18px;
                        width: max-content;
                        font-size: 10px;
                        background-color: #EEDD6B;
                        border-radius: 9px;
                        padding: 2px 8px;
                    }
                }
            }
        }

        .role-card-action {
            margin-top: 8px;
            text-align: center;
            height: 28px;

            .view-more {
                font-size: 14px;
                height: 100%;
                padding: 5px 16px;
                font-family: "Quicksand";
                color: #25313F;
                background-color: #3FD28B;
                border-radius: 2px;
                box-shadow: 0px 3px 5px #0000003D;
            }
        }
    }
}